

Dear <%= @user.first_name %>,
<p></p>
Thank you for using Clean Green Revolution and our FREE pickup and delivery service.  I have attached the ticket for your order with a list of the items we picked up from you.  
It is our goal to have your order cleaned, pressed and back to you in about a week or as soon as your order is ready.  
<p></p>
Thank you again for joining the Revolution!
<p></p>

Anne S<br>
Clean Green Revolution<br>
The Revolution will be delivered to <b>YOUR</b> door!”

<p></p>

