<% logo_width = 567 %>
<% logo_height = 886 %>
<% percentage = 0.5 %>
<% logo_size = sprintf("%dx%d", logo_width * percentage, 
        logo_height * percentage) %>

<%= image_tag('cgr-logo-tall.png', :size => logo_size, 
             :border => 0) %>
           

