<% form_for :forgot_password, :url => {:action => :send_password} do |form| %>

  <h3>Enter your email address, and we'll remind you of your password.</h3>  
<table>
  <tr>
    <td>Email Address</td>
    <td><%= form.text_field(:email_address, :size => '30', :maxlength => '64')%></td>
  </tr>
  <tr><td><%= submit_tag('Send Email') %></td></tr>

</table>

<% end %>

