

<h3>For free pick up and delivery</h3>

Just sign up for an account  - follow the instructions under the
<%= link_to('How do I get started link', :controller => 'user', :action => 'howto_join')%>.<br>
Be SURE to add your coupon number in the coupon field to get coupon credit.<br>

<ul>
<li>-If you are in our delivery area, you will get a pick-up schedule.</li>
<li>-Outside our delivery area? We will contact you to see if we can accommodate</li>
<li>-Your clothes will be delivered to you when they are ready</li>
</ul>

<h3>Where is your delivery area?</h3>

	In general it is
<ul><b>
    <li>North Seattle</li>
    <li>Downtown Seattle</li>
    <li>West Seattle</li>
	<li>Kent/Des Moines</li>
    </b>
</ul>

<h3>In-person coupon redemption</h3>
Bring in your coupon when you drop off your order.  It will be applied at that time.

<h3>What services is my coupon good for?</h3>

Dry Cleaning, Shirt Laundry and "Wash and Fold" laundry

<h3>What is "Wash and fold Laundry"?</h3>
It is like you still live at home - dirty tshirts, socks and jeans go<br>
into the laundry bag and clean folded laundry comes out!  We weigh<br>
your clothes ($1.75 per pound) then get them clean and folded and<br>
ready for you to put away... And YES you still have to do that part yourself.<br>








