
<h3>Clean Green Revolution Daily Report: <%= store_name%></h3>
<h3><%= @num_payments %> payments</h3>

<div id="report_content">
    <%= render :partial => 'daily_report_content' %>
</div>

<p/>

<div id="cal1Container"></div> 

<script> 
  YAHOO.namespace("example.calendar"); 

  YAHOO.example.calendar.init = function() { 
    YAHOO.example.calendar.cal1 = new YAHOO.widget.Calendar("cal1","cal1Container"); 
    YAHOO.example.calendar.cal1.selectEvent.subscribe(onDailyReportDateSelect, YAHOO.example.calendar.cal1, true);
    YAHOO.example.calendar.cal1.render(); 
  } 

  YAHOO.util.Event.onDOMReady(YAHOO.example.calendar.init); 
</script> 
	